@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: #ededed;
  }
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
